<h1>Детальна інформація про користувача</h1>

<p>Логін: <%= @user.login %></p>
<p>Рівень доступу: <%= @user.string_role %></p>

<p>Історія замовлень:</p>

<table border="1px">
  <tr>
    <th>За призначенням</th>
    <th>Час відправлення</th>
    <th>Номер місця</th>
  </tr>
    <%= render @user.orders %>
</table>

<p><%= link_to 'Повернутись до огляду маршрутів', buses_path %></p>
